[submodule "basic_api"]
	path = basic_api
	url = git@github.com:vurokrazia/basic_api.git
[submodule "LaBanquetaDeLosGeeks"]
	path = LaBanquetaDeLosGeeks
	url = git@github.com:vurokrazia/LaBanquetaDeLosGeeks.git
[submodule "docker-larevel-development"]
	path = docker-larevel-development
	url = https://github.com/vurokrazia/docker-larevel-development.git
